body {
    background-color: #eee;
    font-family: $primary-font !important;
    font-size: 18px;
    margin: 0;

    .field > label {
        display: inline-block;
        margin-bottom: 0.2rem;
        font-size: 13px;
    }

    .container {
        max-width: 900px;
        width: 95%;
        margin: auto;
        .title {
            font-weight: bold;
            margin-bottom: 15px;
        }
    }
    .text-left {
        text-align: left !important;
    }
    .text-bold {
        font-weight: bold !important;
    }
    .text-small {
        font-size: 11px !important;
    }
    .card {
        background: #fff;
        border-radius: 2px;
        height: 100%;
        padding: 20px;
        flex-direction: column;
        display: flex;
        justify-content: center;
        text-align: center;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        .title {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 10px;
        }
        .subtitle {
            font-size: 16px;
            font-weight: 300;
        }
    }

    .card-hoverable {
        cursor: pointer;
        &:hover {
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        }
    }

    .topbar {
        background: #fff;
        border-radius: 2px;
        height: 100%;
        padding: 20px;
        margin-bottom: 20px;
        flex-direction: row;
        display: flex;
        align-items: center;
        text-align: left;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        .title {
            font-size: 18px;
            font-weight: bold;
            line-height: 40px;
        }
        .subtitle {
            font-size: 16px;
            font-weight: 300;
        }
        button {
            margin-right: 10px;
        }
    }

    .inativo {
        opacity: 0.2;
    }
}
