<app-topbar title="Dados cadastrais" [prevRoute]="prevRoute"></app-topbar>
<div class="container">

    <div class="title">Plano selecionado</div>
    <div class="grid">
        <div class="col-12 md:col-6" *ngIf="dadosCliente.plataforma">
            <app-card [title]="dadosCliente.plataforma.nome"
                subtitle="{{dadosCliente.plataforma.descricao |breakline}}"></app-card>
        </div>
        <div class="col-12 md:col-6" *ngIf="dadosCliente.plano">
            <app-card [title]="dadosCliente.plano.franquia" subtitle="R$ {{dadosCliente.plano.valor}}"></app-card>
        </div>
    </div>

    <div class="title mt-4">Dados cadastrais</div>
    <div class="card text-left">
        <form [formGroup]="dadosForm">
            <div class="field">
                <label for="nome">Nome</label>
                <input id="nome" placeholder="Exemplo nome" type="text" class="inputfield w-full"
                    formControlName="nome" pInputText>
            </div>
            <div class="field">
                <label for="email">Email</label>
                <input id="email" placeholder="exemplo@exemplo.com" type="text" class="inputfield w-full"
                    formControlName="email" pInputText>
            </div>
            <div class="field">
                <label for="cpf">CPF</label>
                <input id="cpf" placeholder="000.000.000-00" type="text" class="inputfield w-full" formControlName="cpf"
                    mask="000.000.000-00" [validation]="false" pInputText>
            </div>
            <div class="field">
                <label for="telefone">Telefone</label>
                <input id="telefone" placeholder="(21) 99999-9999" type="text" class="inputfield w-full"
                    formControlName="telefone" mask="(00)00000-0009" [validation]="false" pInputText>
            </div>
            <div class="field">
                <label for="dataNascimento">Data de nascimento</label>
                <p-calendar placeholder="14/07/1995" styleClass="inputfield w-full" id="dataNascimento" [monthNavigator]="true"
                    [yearNavigator]="true" [yearRange]="yearRange" formControlName="dataNascimento"></p-calendar>
            </div>
        </form>

        <div class="flex justify-content-center">
            <p-button (click)="enviarDados()" label="Enviar"></p-button>
        </div>
    </div>
</div>